<div class="footer-top-area fix" style="margin-top: 50px;"><!--Start Footer top area-->
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="footer-about">
					<div class="image">
						<img src="assets/MVS Varna Logo.png" width="150" alt="">
						<!-- <h3>online jewelry store</h3> -->
					</div>
					<p>perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium, totam rem aperiam, eaque ipsa perspiciatis unde omnis iste</p>
				</div>
				<div class="footer-contact">
					<div class="single-contact">
						<div class="icon">
							<i class="fa fa-map-marker"></i>
						</div>
						<div class="details">
							<p>Suraj Towers, Opp Aseelametta Bus Stop,</p>
							<p> Rama Talkies Road,</p>
							<p>Aslimetta, Visakhapatnam,</p>
							<p> Andhra Pradesh 530003</p>
						</div>
					</div>
					<div class="single-contact">
						<div class="icon">
							<i class="fa fa-phone"></i>
						</div>
						<div class="details">
							<p>089125 09591</p>

							<p>+91 9177101242</p>
							<p>+91 93915 66555</p>
							<p>+91 8912509593</p>
							 
						</div>
					</div>
					<div class="single-contact">
						<div class="icon">
							<i class="fa fa-dribbble"></i>
						</div>
						<div class="details">
							<a href="#">mvsvarna@gmail.com</a>
							 
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="footer-quick-link footer-links">
					<h2>QUICK LINK</h2>
					<ul>
						<li><a href="/home" routerLink="/home" routerLinkActive="active">Home</a></li>
						 
						<li><a href="/home" routerLink="/home" routerLinkActive="active">New Arrivals</a></li>
						<li><a href="/shoplist" routerLink="/shoplist" routerLinkActive="active">Men</a></li>	
						<li><a href="/shoplist" routerLink="/shoplist" routerLinkActive="active">Women</a></li>
						<li><a href="/shoplist" routerLink="/shoplist" routerLinkActive="active">Kids</a></li>
						<li><a href="/aboutus" routerLink="/aboutus" routerLinkActive="active">Aboutus</a></li>
						<li><a href="/contact" routerLink="/contact" routerLinkActive="active">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="row">
					<div class="col-sm-8 footer-support footer-links">
						<h2>OUR SUPPORT</h2>
						<ul>
						 
							<li><a href="#">privacy Policy</a></li>
							<li><a href="#">Your Account</a></li>
							<li><a href="#">Term &amp; Conditions</a></li>
							  
							<li><a href="#">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-sm-4 footer-account footer-links">
						<h2>my Account</h2>
						<ul>
							<li><a href="/login" routerLink="/login" routerLinkActive="active">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Specials</a></li>
						</ul>
					</div>
				</div>
				<!-- <div class="footer-newslater fix">
					<div class="wrap fix">
						<h3>NEWS LETTER ! </h3>
						<form action="#">
							<input type="email" placeholder="Your E-mail...">
							<button class="submit">SUBSCRIBE</button>
						</form>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>


<div class="footer-area fix"><!--Start Footer Area-->
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="copy-right">
					<p>© 2019 - 2020 <a>MVS Varna</a>, All rights reserved</p>
				</div>
			</div>
			<div class="col-sm-6">
				 
			</div>
		</div>
	</div>
</div>