 
   
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
         
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/img/1.jpg"   style="width:100%; height: 50%;">
          <div class="slide1-text slide-text">
            <div class="carousel-caption">
            <div class="middle-text">
              <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s" style="visibility: visible; animation-duration: 0.9s; animation-delay: 0s; animation-name: slideInRight;float: left;">
                <h1 class="hidden-sm hidden-xs">Exclusive Jewelry</h1>
              </div>
              <div class="cap-dec wow slideInRight" data-wow-duration="1.3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0s; animation-name: slideInRight; width: 625px;float: left;">
                <h2 class="hidden-sm hidden-xs">to express personality</h2>
              </div>	
              <div class="cap-readmore wow fadeInUpBig" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUpBig;float: left;" >
                <a href="#">Shop Now</a>
              </div>	
            </div>	
          </div>
        </div>
      </div>
  
        <div class="item">
          <img src="assets/img/2.jpg"  style="width:100%; height: 50%;">

          <div class="slide1-text slide-text">
            <div class="carousel-caption">
            <div class="middle-text">
              <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s" style="visibility: visible; animation-duration: 0.9s; animation-delay: 0s; animation-name: slideInRight;float: left;">
                <h1 class="hidden-sm hidden-xs">Exclusive Jewelry</h1>
              </div>
              <div class="cap-dec wow slideInRight" data-wow-duration="1.3s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0s; animation-name: slideInRight; width: 625px;float: left;">
                <h2 class="hidden-sm hidden-xs">to express personality</h2>
              </div>	
              <div class="cap-readmore wow fadeInUpBig" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUpBig;float: left;">
                <a href="#">Shop Now</a>
              </div>	
            </div>	
          </div>
        </div>

        </div>
      
        
      </div>
   
    </div>
 

    

 