<div class="banner-area fix"><!-- Product Offer Area Start -->
	<div class="col-sm-6 sin-banner">
		<a href="#">
			<img src="assets/img/offer-1.jpg" alt="" class="img-responsive">
			<div class="wrap">
				<h2>Bracelets</h2>
				<p>perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium</p>
			</div>
		</a>
	</div>
	<div class="col-sm-4 sin-banner">
		<a href="#">
			<img src="assets/img/offer-2.jpg" alt="" class="img-responsive">
			<div class="wrap">
				<h2>Earrings</h2>
				<p>perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium</p>
			</div>
		</a>
	</div>
	<div class="col-sm-2 hidden-xs sin-banner text-1">
		<img src="assets/img/banner-bg.jpg" alt="" class="img-responsive">
		<div class="banner-text">
			<h1><span>New</span></h1>
			<h2>Arrivals</h2>
			<p>perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium</p>
			<a href="#">Shop Now</a>
		</div>
	</div>
	<div class="col-sm-2 hidden-xs sin-banner clear text-2">
		<img src="assets/img/banner-bg-2.jpg" alt="" class="img-responsive">
		<div class="banner-text">
			<h1>Sales <span>Up to</span></h1>
			<h2><span>30%</span>off</h2>
			<a href="#">Shop Now</a>
		</div>
	</div>
	<div class="col-sm-6 sin-banner">
		<a href="#">
			<img src="assets/img/offer-3.jpg" alt="" class="img-responsive">
			<div class="wrap">
				<h2>Rings</h2>
				<p>perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium</p>
			</div>
		</a>
	</div>
	<div class="col-sm-4 sin-banner">
		<a href="#">
			<img src="assets/img/offer-4.jpg" alt="" class="img-responsive">
			<div class="wrap">
				<h2>Necklaces</h2>
				<p>perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium</p>
			</div>
		</a>
	</div>
</div>