<div class="page-title fix" style="background: url(assets/img/testimonial-bg.jpg);">
	<div class="overlay section">
		<h2>ABout us</h2>
	</div>
</div>

<section class="about-page page fix"><!--Start About Area-->
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="about-title">
					<h2>Welcome To<span> MVS VARNA</span></h2>
					<h5>ONLINE JEWELRY STORE</h5>
				</div>	
				<div class="about-text">
					<h3><span> Who we are </span></h3>
					<p> <i class="fa fa-arrow-right" aria-hidden="true"></i> In 1890, Sri Manchukonda Kodanda Ramaiah started jewellery business in old town area 
					of Visakhapatnam. The business was succeeded by Sri M.Appalaraju and later Sri M.V. 
					Singaraiah. This business was taken over by Mr. M.Y. Subramanyam (Raja) in 1982, after 
					completion of his education.</p>
					<p> <i class="fa fa-arrow-right" aria-hidden="true"></i> M Y Subramanyam lovingly called Raja, along with his brother M A Sri Ranga moved this business from old 
						town to Rama Talkies Road and started it with the name and style of "MVS Varna".</p>
					<p> <i class="fa fa-arrow-right" aria-hidden="true"></i> Having been in a business family and that too in a family with Bullion Trading as business, 
					Mr. Raja got the exposure from a very early age. Through his interaction with his grandfather and his father, 
					he acquired all the knowledge and technique required to be in the Bullion Business.</p>
					<p> <i class="fa fa-arrow-right" aria-hidden="true"></i> Today MVS Varna is one of the most trusted gold Jewellery show rooms in Visakhapatnam.</p>

					</div>
			</div>
			<div class="col-sm-6">
				<div class="about-img">
					<img src="assets/img/about.jpg" alt="">
				</div>
			</div>
			
			<!-- <div class="col-sm-6">
				<div class="about-text">
					<h2>WHY <span>CHOOSE US</span></h2>
					<p class="about-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation, conse ctetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation, consectetur adipiscing elit,ed</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation, conse ctetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="about-img">
					<img src="assets/img/about.jpg" alt="">
				</div>
			</div> -->
		</div>
		<p> <i class="fa fa-arrow-right" aria-hidden="true"></i> With over 30 years of experience and his strong beliefs of meticulous market analysis, 
			reliability of service and quality customer care as the procure in bullion trade; Mr. Raja partnered VBC in the year 1998.</p>

		<p class="pb-3"> <i class="fa fa-arrow-right" aria-hidden="true"></i> He is a member of the Indian Bullion and Market Association (IBMA) 
			and deals in both the MCX and COMEX Markets.</p>
	</div>
</section>

 
 
