<div class="featured-product section fix"  ><!--start Featured Product Area-->
	<div class="container">
		<div class="row">
			<div class="section-title">
				<h2 >Weekly Featured Products</h2>
				<div class="underline"></div>
			</div>
			
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="product-item fix">
					<div class="product-img-hover">
						<!-- Product image -->
						
						<a href="/productdetails" routerLink="/productdetails" routerLinkActive="active" class="pro-image fix">
							<img src="assets/img/11.jpg" class="img-responsive"  alt="product"></a>
						<!-- Product action Btn -->
						<div class="product-action-btn">
							<a class="quick-view" href="#"><i class="fa fa-search"></i></a>
							<a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
							<a class="add-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
						</div>
					</div>
					<div class="pro-name-price-ratting">
						<!-- Product Name -->
						<div class="pro-name">
							<a href="product-details.html">Product Name Demo</a>
						</div>
						<!-- Product Ratting -->
						<div class="pro-ratting">
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star-half-o"></i>
						</div>
						<!-- Product Price -->
						<div class="pro-price fix">
							<p><span class="old">₹165</span><span class="new">₹150</span></p>
						</div>
					</div>
				</div>
	
			</div>
			
	
			<div class="col-md-3">
				<div class="product-item fix">
					<div class="product-img-hover">
						<!-- Product image -->
						<a href="/productdetails" routerLink="/productdetails" routerLinkActive="active" class="pro-image fix">
							<img src="assets/img/12.jpg" alt="product"></a>
						<!-- Product action Btn -->
						<div class="product-action-btn">
							<a class="quick-view" href="#"><i class="fa fa-search"></i></a>
							<a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
							<a class="add-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
						</div>
					</div>
					<div class="pro-name-price-ratting">
						<!-- Product Name -->
						<div class="pro-name">
							<a href="#">Product Name Demo</a>
						</div>
						<!-- Product Ratting -->
						<div class="pro-ratting">
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star-half-o"></i>
						</div>
						<!-- Product Price -->
						<div class="pro-price fix">
							<p><span class="old">₹165</span><span class="new">₹150</span></p>
						</div>
					</div>
				</div>
	
			</div>
	
			<div class="col-md-3">
				<div class="product-item fix">
					<div class="product-img-hover">
						<!-- Product image -->
						<a href="/productdetails" routerLink="/productdetails" routerLinkActive="active" class="pro-image fix">
							<img src="assets/img/13.jpg" alt="product"></a>
						<!-- Product action Btn -->
						<div class="product-action-btn">
							<a class="quick-view" href="#"><i class="fa fa-search"></i></a>
							<a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
							<a class="add-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
						</div>
					</div>
					<div class="pro-name-price-ratting">
						<!-- Product Name -->
						<div class="pro-name">
							<a href="product-details.html">Product Name Demo</a>
						</div>
						<!-- Product Ratting -->
						<div class="pro-ratting">
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star-half-o"></i>
						</div>
						<!-- Product Price -->
						<div class="pro-price fix">
							<p><span class="old">₹165</span><span class="new">₹150</span></p>
						</div>
					</div>
				</div>
	
			</div>
	
			<div class="col-md-3">
				<div class="product-item fix">
					<div class="product-img-hover">
						<!-- Product image -->
						<a href="/productdetails" routerLink="/productdetails" routerLinkActive="active" class="pro-image fix">
							<img src="assets/img/14.jpg" alt="product"></a>
						<!-- Product action Btn -->
						<div class="product-action-btn">
							<a class="quick-view" href="#"><i class="fa fa-search"></i></a>
							<a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
							<a class="add-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
						</div>
					</div>
					<div class="pro-name-price-ratting">
						<!-- Product Name -->
						<div class="pro-name">
							<a href="#">Product Name Demo</a>
						</div>
						<!-- Product Ratting -->
						<div class="pro-ratting">
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star"></i>
							<i class="on fa fa-star-half-o"></i>
						</div>
						<!-- Product Price -->
						<div class="pro-price fix">
							<p><span class="old">₹165</span><span class="new">₹150</span></p>
						</div>
					</div>
				</div>
	
			</div>
			 
	  </div>


	</div>
</div>